%h1,
h1 {
	font-size: 3.8rem;
	line-height: 1.3;
	font-weight: 600;

	@include breakpoint(sm) {
		font-size: 6rem;
	}
}

.h1 {
	@extend %h1;
}

%h2,
h2 {
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 600;

	@include breakpoint(sm) {
		font-size: 2.6rem;
	}
}

.h2 {
	@extend %h2;
}
